.container {
  width: 100%;
  overflow-x: hidden;

}
.news {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  border-top: 1px solid rgba(190, 1, 34, .05);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
img {
  display: block;
  flex: 2;
  width: 50px;
  height: 100%;
}
.msg {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content:center;
  flex: 5;
  padding-left: 5px;
  padding-right: 5px;
  color: black;
}
.title{
  flex: 3;
  margin-bottom: 10px;
}
.more {
  margin-top: 15px;
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;

}
a {
  text-decoration: none;
}
