.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 8%;
  z-index: 3;
  background-color: #BE0122;
  color: white;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
  i {
    position: absolute;
    z-index: 1;
    flex: 1;
    display: inline-block;
    width: 26px;
    height: 26px;
  }
  i.icon-menu {
    left: 16px;
    top: 12px;
    background: url('../../common/icons/icon-menu.svg') no-repeat;
    background-size: contain;
  }
  i.icon-back {
    left: 16px;
    top: 17px;
    background: url('../../common/icons/icon-back.svg') no-repeat;
    // background-size: contain;
    background-size: 23px;

  }
  i.icon-msg {
    right: 16px;
    top: 12px;
    background: url('../../common/icons/icon-msg.svg') no-repeat;
    background-size: contain;
  }
  i.icon-more {
    right: 16px;
    top: 12px;
    background: url('../../common/icons/icon-more.svg') no-repeat;
    background-size: contain;
  }
  span.counts {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    text-align: center;
    background-color: #ED274A;
    border-radius: 10px;
    font-size: 78%;
    width: 20px;
    height: 20px;
    right: 8px;
    top: 12px;
  }
  h3 {
    flex: 5;
    letter-spacing: 3px;
  }
}
