.container {
  width: 100%;
  height: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 90px;
  height: 120px;
  z-index: 11;
  background-color: white;
  right: 0;
  top: 0;
  box-shadow: 0 0 12px gray;
}
.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  flex: 1;
  z-index: 10;
  background-color:#555555;
  opacity: .3;
}
.group {
  text-align: center;
  line-height: 40px;
  flex: 1;
  border-bottom: 1px solid #E1E1E1;
  font-size: 12px;
}
