.aside-menu {
    position: fixed;
    display: flex;
    z-index: 4;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    .menu {
      display: flex;
      flex-direction: column;
      width: 226px;
      background-color: #fff;
      box-shadow: 0 0 12px gray;
      .user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 180px;
        background-color: #BE0122;
        color: white;
        .user-avatar {
          img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
            cursor: pointer;
          }
        }
        .username {
          padding-top: 10px;
          font-size: 16px;
        }
      }
      .message {
        display: flex;
        align-items: center;
        flex-direction: column;
        .group {
          width: 100%;
          height: 50px;
          display: flex;
          padding: 20px 40px 0;
          cursor: pointer;
        }
        .group{
            border-bottom: 1px solid rgba(190, 1, 34, .05);
        }
        img {
          display: inline-block;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          margin-right: 6px;
        }
      }

    }

    .mask {
      flex:1;
    }
}
.info {
  margin-right: 60px;
}
a {
  text-decoration: none;
  color: #000;
}

.slide-left-enter-active {
  transition: all .3s ease;
}
.slide-left-leave-active {
  transition: all .2s ease-out;
}
.slide-left-enter, .slide-left-leave-active {
  transform: translateX(-150px);
  opacity: 0;
}
